html {
    width:  600px;
    height: 400px;
    margin: 0%;
}

body {
    padding: 0% !important;
    margin: 0% !important;
    border: 0% !important;
    height: 100%;
}

.container-fluid {
    height: 100%;
    padding: 0% !important;
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

#tabs {
    background-color: bisque;
    height: 10%;
}

#viewport {
    height: 100%;
}
#settings_area {
    height:100%;
}

a.test {
    font-weight: bold;
}

